<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ymade.module_home">

    <application>
        <activity android:name="cn.ymade.module_home.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity1"></activity>
        <activity android:name=".ui.SettingsActivity"></activity>
        <activity android:name=".ui.StaffActivity"></activity>
        <activity android:name=".ui.SyncActvity"></activity>
        <activity android:name=".ui.SNListActivity"></activity>
        <activity android:name=".ui.SimpSNActivity"></activity>
        <activity android:name=".ui.SNSearchActivity"></activity>
        <activity android:name=".ui.CreateOutLotActivity"></activity>
        <activity android:name=".ui.LotActivity"></activity>
        <activity android:name=".ui.LotInfoActivity"></activity>
    </application>
</manifest>