<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ymade.module_home">

    <application>
        <activity android:name="cn.ymade.module_home.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity1"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.SettingsActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.StaffActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.SyncActvity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.SNListActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.SimpSNActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.SNSearchActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.CreateOutLotActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.LotActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.LotInfoActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.SummaryActivity"
            android:launchMode="singleTask"></activity>
    </application>
</manifest>